<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <!-- Set up the routerLinks.  These will refresh only the <router-outlet> tag.
                    Using a href tag instead then the whole page (app) gets fetched from the server. 
                    The routerLinks match the paths in src/app/app-routes-config.ts -->
                <li>
                    <a routerLink="">Home</a>
                </li>
                <li>
                    <a routerLink="list">List</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="jumbotron">
    <!-- This is where the route components referred to by the routerLinks will be rendered. -->
    <router-outlet></router-outlet>
</div>


<div>
    <h1>You are at: {{ currentUrl }}</h1>
</div>