.navbar {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar-default {
    background-color: #2c3e50;
    border-color: transparent
}

.navbar-default .navbar-brand {
    color: #ffffff
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #18bc9c;
    background-color: transparent
}

.navbar-default .navbar-text {
    color: #777777
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #18bc9c;
    background-color: transparent
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #1a242f
}

.navbar-default .navbar-nav>.disabled>a,
.navbar-default .navbar-nav>.disabled>a:hover,
.navbar-default .navbar-nav>.disabled>a:focus {
    color: #cccccc;
    background-color: transparent
}

.navbar-default .navbar-toggle {
    border-color: #1a242f
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #1a242f
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: transparent
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: #1a242f;
    color: #ffffff
}

@media (max-width:767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #ffffff
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #18bc9c;
        background-color: transparent
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #ffffff;
        background-color: #1a242f
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus {
        color: #cccccc;
        background-color: transparent
    }
}

.navbar-default .navbar-link {
    color: #ffffff
}

.navbar-default .navbar-link:hover {
    color: #18bc9c
}

.navbar-default .btn-link {
    color: #ffffff
}

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
    color: #18bc9c
}

.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
    color: #cccccc
}

.navbar-inverse {
    background-color: #18bc9c;
    border-color: transparent
}

.navbar-inverse .navbar-brand {
    color: #ffffff
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #2c3e50;
    background-color: transparent
}

.navbar-inverse .navbar-text {
    color: #ffffff
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    color: #2c3e50;
    background-color: transparent
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #15a589
}

.navbar-inverse .navbar-nav>.disabled>a,
.navbar-inverse .navbar-nav>.disabled>a:hover,
.navbar-inverse .navbar-nav>.disabled>a:focus {
    color: #cccccc;
    background-color: transparent
}

.navbar-inverse .navbar-toggle {
    border-color: #128f76
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #128f76
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ffffff
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #149c82
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #15a589;
    color: #ffffff
}

@media (max-width:767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header {
        border-color: transparent
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: transparent
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #ffffff
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #2c3e50;
        background-color: transparent
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #ffffff;
        background-color: #15a589
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus {
        color: #cccccc;
        background-color: transparent
    }
}

.navbar-inverse .navbar-link {
    color: #ffffff
}

.navbar-inverse .navbar-link:hover {
    color: #2c3e50
}

.navbar-inverse .btn-link {
    color: #ffffff
}

.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
    color: #2c3e50
}

.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
    color: #cccccc
}



