<ul>

  <li *ngFor="let item of items">

    <!-- set up the routerLinks.  These will refresh only the <router-outlet> tag.
           Using a href tag instead then the whole page (app) gets fetched from the server. -->
    <a routerLink="{{item.id}}">{{ item.name }}</a>
    <!-- <a href="list/{{item.id}}">{{ item.name }}</a> -->
  </li>
</ul>